html {
background-color: #191919;  
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
background-color: #191919;
color: #191919; 
}
.input-fields {
background-color: #191919;
color: #191919;
display:flex;
border-radius: 15px;
}

  .income {
    background-color: #fff;
    display:flex;
    flex-wrap: wrap-reverse;
    justify-content: left;
    width:70%;
    height:74%;
}
.rent {
  background-color: #fff;
  display:flex;
  flex-wrap: wrap;
  justify-content: right;
  width:62%;
  height:62%
}
 .title {
    padding: 20px;
  }
  
  .move {
  color: white;
  text-align: center; 
  }
 
  .navbar {
 background-color: rgb(220, 254, 254);
  }
  .control {
  margin-top: 3%;  
  }
  .button {
  margin-top: 3%;
  color: black;
  background-color: aquamarine;  
  }
  .box {
  background-color:darkgray;  
  }

  span {

    color:aqua;
}
h1 {
   color: white; 
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}
h2 {
  font-size: larger;
  margin-bottom: 5px;
  text-align:center;
}
.pageName {
font-size: xx-large;
text-align: left;
color: white;  
}
.label {
  margin-bottom: 0;
  padding-bottom: 0;
  float: left;
  width: 30%;
}
input {
margin-top: 0;
padding-top: 0;  
}

img {
height: 500px;
width: auto;
}